#{extends 'ProductController/layout.html' /}
#{set title:messages.get('list.product') /}




<table class="listofproducts">
   #{list items:products, as:'p'}
   
   <tr>
      <td>
  #{a @ProductController.lookAt(p.id.toStringMongod())}${p.id.toStringMongod()}#{/a}
   </td>
   </tr>
   #{list items:p.getAvailableLocalesMap().entrySet(), as:'ppp'}
   <tr>
      #{set pp:ppp.getValue()/}
      %{
      Locale locale = ppp.getKey();
      StringBuilder sb = new StringBuilder(locale.getDisplayLanguage().substring(0, 1).toUpperCase()).append(locale.getDisplayLanguage().substring(1));
            if (!locale.getCountry().equals("")) {
                sb.append(" : ").append(locale.getDisplayCountry());
            }
      }%
      <td>${sb.toString()}</td>
      <td>${pp.name}</td>
    </tr>
   #{/list}
<tr>
      <td>----------</td>
   </tr>
   
   #{/list}
</table>


 
