#{extends 'ProductController/layout.html' /}
#{set title:messages.get('product.lookat', productRef.product_reference) /}

<div>&{'productRef.product_reference'} ${productRef.product_reference}</div>
#{list items:productRef.getAvailableLocalesMap().entrySet(), as:'ppp'}
<div>    
    #{set pp:ppp.getValue()/}
    <div>${ppp.getKey()}</div>
    <div>${pp.name}</div>
    #{a @ProductController.editProduct(pp.id.toStringMongod())}&{'edit'}#{/a}
</div>
#{/list}

#{a @ProductController.translate(productRef.id.toStringMongod())}&{'translate'}#{/a}