#{extends 'ProductController/layout.html' /}

#{set title:messages.get('translate.product') /}


#{form @ProductController.doTranslate(productRef.id.toStringMongod()) , id:'creationForm', enctype:'multipart/form-data' }

#{textInput 'product.name' /}

#{field 'product.language'}
<p>
    <label>${'product.language'}</label>
    #{selectLang field:field, excludelocales:productRef.getAvailableLocales() /}
    <span class="error">${field.error}</span>
</p>
#{/}

<input type="submit" value="ok" />

#{/form}
