#{extends 'ProductController/layout.html' /}

#{set title:'New Product' /}


#{if otherPage}
#{if action.equals("translate")}
<p>You are currently translating ${otherPage.urlId} from ${otherPage.language}.</p>
#{/if}
#{elseif action.equals("edit")}
<p>You are currently editing ${otherPage.urlId}.</p>
#{/elseif}
#{/if}

#{form @ProductController.doTranslate(productRef.id.toStringMongod()) , id:'creationForm', enctype:'multipart/form-data' }

#{field 'product.name'}
<p>
    <label>&{'product.name'} </label>
    %{
    if (field.flash == null && otherPage != null)
    field.flash = otherPage?.title;
    }%
    <input type="text" id="${field.id}" name="${field.name}" value="${field.flash}" class="${field.errorClass}" />
    <span class="error">${field.error}</span>
</p>
#{/}


#{field 'product.language'}
<p>
    <label>${'product.language'}</label>
    #{selectLang field:field, excludelocales:productRef.getAvailableLocales() /}
    <span class="error">${field.error}</span>
</p>
#{/}


<input type="submit" value="ok" />

#{/form}
